@import "../core/variables";

.container {
  border-bottom: $border-grey;
}

.header__top {
  @media (min-width: $bpoint-mob) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
  }

  @media (min-width: $bpoint-tab) {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin-left: 20px;
  }

  @media (min-width: $bpoint-extra) {
    margin: 0 auto;
    width: $max-width;
  }
}

.contact__txt {
  font-size: $font-header;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: $icon-padding;
  transition: color 0.3s ease-in;

  &:hover {
    color: $dark-pink;
  }

  &--telephone {
    background-image: url("../../images/header-top/tel.png");
    margin-right: 20px;
  }

  &--email {
    background-image: url("../../images/header-top/email.png");
  }
}

.header__user {
  font-size: 0;

  @media (min-width: $bpoint-mob) {
    margin-top: 15px;
  }

  @media (min-width: $bpoint-tab) {
    margin-top: 0;
  }

  // @media (min-width: $bpoint-extra) {
  //   text-align: right;
  // }
}

.user__btn {
  font-size: $font-header;
  outline: $border-grey;
  padding: 15px 25px;
  position: relative;
  transition: color 0.3s ease-in;
  font-family: $font-base;

  &::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $dark-pink;
    transition: width 0.5s ease-in;
  }

  &:hover {
    color: $dark-pink;

    &::after {
      width: 100%;
    }
  }

  &--sign-in {
    &::before {
      content: "";
      display: block;
      background: url("../../images/header-top/sign-in.png") no-repeat;
      width: $icon-width-in;
      height: $icon-height-in;
      margin-right: 10px;
      float: left;
    }
  }

  &--sign-up {
    &::before {
      content: "";
      display: block;
      background: url("../../images/header-top/sign-up.png") no-repeat;
      width: $icon-width-up;
      height: $icon-height-up;
      margin-right: 10px;
      float: left;
    }
  }
}
