@import "../core/variables";

.header__content {
  padding: 30px 20px;
  display: flex;
  border-bottom: $border-grey;
  position: relative;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $bpoint-large) {
    flex-wrap: wrap;
  }

  @media (min-width: $bpoint-extra) {
    padding: 30px 0;
  }
}

.header__logo {
  margin-right: auto;
}

.header__contact {
  @media (min-width: $bpoint-large) {
    margin-right: auto;
  }
}

.header__search {
  @media (min-width: $bpoint-large) {
    position: relative;
    margin: 0 auto;
    width: 460px;
  }
}

.search__input {
  font-size: $font-header;
  border: none;
  border-bottom: 1px solid $black;
  font-family: $font-base;

  @media (min-width: $bpoint-mob) {
    display: none;
    padding: 10px 5px 5px 5px;
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    margin: 0 auto;
  }

  @media (min-width: $bpoint-large) {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 25px 10px 10px;
    width: 100%;
    margin: 0;
  }
}

.search__btn {
  padding: 0;
  background-image: url("../../images/header/search.png");

  &--mobile {
    @media (min-width: $bpoint-mob) {
      background-size: cover;
      width: 25px;
      height: 25px;
    }

    @media (min-width: $bpoint-large) {
      display: none;
    }
  }

  @media (min-width: $bpoint-large) {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 2px;
    right: 0;
  }
}

.header__basket {
  @media (min-width: $bpoint-mob) {
    margin: 0 20px;
  }
}

.basket__btn {
  position: relative;
}

.basket__txt {
  font-weight: $bold;
  font-size: $font-header;
  vertical-align: top;
  margin-left: 5px;
  transition: color 0.3s ease-in;

  &:hover {
    color: $pink;
  }

  @media (min-width: $bpoint-mob) {
    display: none;
  }

  @media (min-width: $bpoint-large) {
    display: inline-block;
  }
}

.basket__counter {
  width: 20px;
  height: 20px;
  background-color: $pink;
  border-radius: 50%;
  font-weight: $extra-bold;
  color: $white;
  font-size: $font-basket;
  position: absolute;
  line-height: 20px;

  @media (min-width: $bpoint-mob) {
    bottom: -20%;
    right: -5px;
  }

  @media (min-width: $bpoint-large) {
    right: 70%;
    bottom: -25%;
  }
}

.search__active {
  display: block;
}
