@import "../core/variables";

.header__content {
  width: 100vw;
  padding: 30px 20px;
  display: flex;
  border-bottom: $border-grey;
  position: relative;

  @media (min-width: $bpoint-mob) {
    justify-content: flex-end;
    align-items: center;
  }
}

.header__logo {
  @media (min-width: $bpoint-mob) {
    margin-right: auto;
  }
}

.logo__img {
}

.header__search {
}

.search__input {
  font-size: $font-header;
  border: none;
  border-bottom: 1px solid $black;
  font-family: $font-base;
  @media (min-width: $bpoint-mob) {
    display: none;
    padding: 10px 5px 5px 5px;
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    margin: 0 auto;
  }
}

.search__btn {
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("../../images/header/search.png");
  background-size: cover;
}

.header__basket {
  @media (min-width: $bpoint-mob) {
    margin: 0 20px;
  }
}

.basket__btn {
  position: relative;
}

.basket__txt {
  @media (min-width: $bpoint-mob) {
    display: none;
  }
}

.basket__counter {
  width: 20px;
  height: 20px;
  background-color: $pink;
  border-radius: 50%;
  font-weight: $extra-bold;
  color: $white;
  font-size: $font-basket;
  position: absolute;
  right: -5px;
  bottom: -20%;
  line-height: 20px;
}

.search__active {
  display: block;
}
