//colors
$white: #fff;
$black: #000;
$pink: #f2dbe0;
$dark-pink: #ec326c;
$grey: #d7d7d7;

//fonts
$font-base: "Lato", sans-serif;

//font size
$font-header: 13px;
$font-nav: 14px;
$font-basket: 11px;

//font weights
$regular: 400;
$bold: 700;
$extra-bold: 900;

//widths
$max-width: 1240px;

//icons res
$icon-width-in: 9px;
$icon-height-in: 12px;
$icon-width-up: 12px;
$icon-height-up: 13px;

//paddings
$icon-padding: 20px;
$btn-padding: 25px;

//border
$border-grey: 1px solid $grey;

//media breakpoints
$bpoint-mob: 320px;
$bpoint-tab: 532px;
$bpoint-small: 768px;
$bpoint-large: 1024px;
$bpoint-extra: 1280px;
