//colors
$white: #fff;
$black: #000;
$pink: #f2dbe0;
$grey: #d7d7d7;

//fonts
$base-font: "Lato", sans-serif;

//font size
$font-header: 13px;
$font-nav: 14px;

//font weights
$regular: 400;
$bold: 700;
$extra-bold: 900;

//widths
$max-width: 1240px;

//media breakpoints
$bpoint-mob: 320px;
$bpoint-tab: 480px;
$bpoint-small: 768px;
$bpoint-large: 1024px;
$bpoint-extra: 1280px;
